**/target/
**/*.rs.bk
*.swp
.wasm-binaries
runtime/wasm/target/
**/._*
.idea
.vscode
polkadot.*
!polkadot.service
!.rpm/*
.DS_Store
.cargo
./bridges/ethereum/nodes_modules/
bridges/ethereum/node_modules/*
